<h2>Welcome to Reddit</h2>

<ul>
<% @links.each do |link| %>
  <li><a href="<%= link.url %>"><%= link.title %></a></li>
 <% end %>
</ul>
<%= will_paginate @links %>

<%= link_to "Add a new link", new_link_path %>
<br/>